:root{
  --backgroundColor: #282c34;
  --backgroundColor2: #555555;
  --mainColor: #EC1C49;
  --whiteColor: #D9F8E4;
  --whiteColor2: #CEE5ED;
}

/* .App {
  background-color: #282c34;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
